
    <div class="body">

        <div class="heading">
            <h3>ADD NEW BENEFICIARY</h3></div>
    <form>
    <table>

    <tr>
    <td><label>Enter Beneficiary Name: </label></td>
    <td width=100px><input type="text" name="beneficiary_name" placeholder="Enter Beneficiary Name" required autofocus></td>
    </tr>
   <br> <br>
    <tr>
    <td><label>Enter Beneficiary Account Number: </label></td>
    <td><input type="text" name="beneficiary_account_no" placeholder="Enter Beneficiary Account Number"></td>
    </tr>
    <br>
    <br>
    <tr>
    <td><label>Re-Enter Beneficiary Account Number: </label></td>
    <td><input type="text" name="beneficiary_account_no" placeholder="Re-Enter Beneficiary Account Number"></td>
    </tr> <br>

    <br>
    <tr>
    <button>SAVE AS BENEFICIARY</button>
    </tr>
    
</table>
</form>  

</div>