.heading{
    background-color: turquoise;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 443px;
   
    
    padding: 1px;
   
    color: white;

    border-width: 2px;
}

table{
    background-color: hotpink;
    border-color: indigo;
    border-style: solid;
    border-width: 1px;

    margin-top: auto;
    margin-left: 350px;
    margin-bottom: 200px;

    padding-top: 50px;
    padding-left: 5px;
    padding-right: 95px;
    padding-bottom: 40px;

}
.body{
    background-image: url(C:/Users/lntinfotech/Desktop/Project/Banking/src/assets/images8.png);

}
